<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsult.messmenegment">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:exported="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddMember.AddMember" />
        <activity android:name=".ShowMember.ShowMember" />
        <activity android:name=".MemberDetailsPkg.MemberDetails" />
        <activity android:name=".BazarList.BazarList" />
        <activity android:name=".AddBazarPkg.AddBazaarMember" />
        <activity android:name=".AddBazarPkg.AddBazaar" />
        <activity android:name=".AddMealPkg.AddMeal" />
        <activity android:name=".AddMealPkg.ShowIndViMeal" />
        <activity android:name=".AddDepositPkg.AddDeposit" />
        <activity android:name=".AddExtraPkg.AddExtra" />
        <activity android:name=".ShowMealRatePkg.ShowMealRate" />
        <activity android:name=".MemberDetailsPkg.SendMail" />
        <activity android:name=".PreviousDataPkg.PreviousData" />
        <activity
            android:name=".ShowPic.ShowMemo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_show_memo"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>